# Git
.git/
.gitignore

# Flutter/Dart
**/build/
**/ios/.symlinks/
**/ios/Pods/
**/android/.gradle/
**/android/app/build/
**/android/app/.gradle/
**/android/app/src/main/gen/
**/android/local.properties

# Artefatos web
**/lib/generated_plugin_registrant.dart
**/web/assets/main.dart.js
**/web/assets/main.dart.js.map
**/web/main.dart.js
**/web/main.dart.js.map

# IDEs
**/.idea/
*.iml
.vscode/