# Arquivos gerados por Flutter/Dart
**/ios/Flutter/.last_build_id
**/flutter_export_environment.sh

# Artefatos mobile
**/android/app/build/
**/build/
**/ios/.symlinks/
**/ios/Pods/

# Artefatos web
**/lib/generated_plugin_registrant.dart

# Configurações de usuário
**/android/key.properties

# Arquivos JS gerados
**/lib/main.dart.js
**/web/assets/main.dart.js
**/web/assets/main.dart.js.map
**/web/main.dart.js
**/web/main.dart.js.map

# macOS
**/.idea/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/.idea/
*.iml
*.hprof

# Windows
**/windows/flutter/
*.lnk

# Arquivos part
**/*.part

# Exceções
!**/ios/Flutter/ephemeral/.vmservice

# Arquivos Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars

# Arquivos IDEA
*.iml
.idea/
*.iws

# Arquivos IDE Eclipse
*.project
*.classpath
*.settings/

# Arquivos temp
*.log
*.tmp
*.bak
*.swp
*~.nib

# Arquivos gerados pelo OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Outros
*.pid
*.seed
*.pid.lock
*.class
*.pyc
*.swp
.history
.vscode/